/* RESET */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

img {
  display: block;
}

/* END RESET */

--MAIN-TEXT-COLOR {
  color: black;
}

/* body { */
/*   font-size: 1.25rem; */
/* } */

/* CLASSES */

/* HEADER__UPPER */
.header__upper {
  display: flex;
  background-color: lightgray;
  padding: 1rem 0;
}

.header__upper--location-info {
  flex-grow: 1;
  display: flex;
  align-items: center;

  img {
    margin: 0 0.5rem;
  }
}

.header__upper--profile-info {
  display: flex;
  align-items: center;

  img {
    margin: 0 0.5rem;
  }
}

.header__upper--tel {
  display: flex;
  align-items: center;
  margin-left: 1.5rem;
  font-size: 1.25rem;
}

/* HEADER__LOWER */

.header__lower {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
}

.header__lower--logo {
  flex-grow: 1;
  display: flex;
  justify-content: flex-start;
  margin: 2rem 0;
}

/* .header__lower--nav-wrapper {} */

.header__lower--nav-ulist {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;

  li {
    display: inline-block;
    padding: 0.5rem 0 0.5rem 2rem;
    white-space: nowrap;
  }

}

a {
  text-decoration: none;
  color: var(--MAIN-TEXT-COLOR);
}

a:focus,
a:hover {
  color: red;
}

.main-grid {
  display: grid;
  grid-template-columns: 3;
  grid-template-rows: 6;

}

.card {
  display: inline-block;
  background-color: gray;
  border-radius: 1rem;
  padding: 1rem;
}
