/*------------------------------------*\
  #RESET
\*------------------------------------*/

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

img {
  display: block;
}





/*------------------------------------*\
  #VARIABLES
\*------------------------------------*/

:root {
  --ACCENT-TEXT: #ae0f0a;
  --MAIN-COLOR: #ae0f0a;
}





/*------------------------------------*\
  #GENERAL
\*------------------------------------*/

a[href*="tel:"] {
  font-size: 1.25rem;
  color: var(--MAIN-COLOR);
  font-weight: bold;
}





/*------------------------------------*\
  #HEADER
\*------------------------------------*/

.gray-bgc-full-width {
  background-color: lightgray;
}

/* HEADER__UPPER */

.header__upper {
  display: flex;
  align-items: center;
  padding: 1rem 0;
  width: 80%;
  margin: auto;
}

.header__upper--location-info {
  flex-grow: 1;
  display: flex;
  align-items: center;

  img {
    margin-right: 0.5rem;
  }
}

.header__upper--profile-info {
  display: flex;

  img {
    margin: 0 0.5rem;
  }
}

.header__upper--tel {
  margin-left: 1.5rem;
}





/* HEADER__LOWER */

.header__lower {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  width: 80%;
  margin: auto;
}

.header__lower--logo {
  flex-grow: 1;
  display: flex;
  justify-content: flex-start;
  margin: 1.5rem 0;
}

/* .header__lower--nav-wrapper {} */

.header__lower--nav-ulist {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;

  li {
    display: inline-block;
    padding: 0.5rem 0 0.5rem 2rem;
    /* white-space: nowrap; */
  }

}





/*------------------------------------*\
  #STYLING LINKS
\*------------------------------------*/

a {
  text-decoration: none;
  color: var(--MAIN-TEXT-COLOR);
}

a:focus,
a:hover {
  color: red;
}





/*------------------------------------*\
  #MAIN
\*------------------------------------*/

main p a:last-child {
  color: #ae0f0a;
  /* #b73f3b */
}

main p a:first-child {
  color: gray;
}

main>p {
  margin-bottom: 1.5rem;
}

main {
  width: 80%;
  margin: auto;
  margin-bottom: 5rem;
  min-height: 100vh;
}

.main-cards {
  display: grid;
  grid-template-columns: repeat(3, minmax(200px, 1fr));
  grid-template-rows: repeat(6, minmax(200px, 1fr));
  gap: 1rem;
}

.card {
  background-color: gray;
  border-radius: 1rem;
  padding: 1rem;
}

.card--sklad {}

.card--pereezd {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 3;
}

.card--sotrudnich {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 3;
}

.card--responsibility {}

.card--mobile-sklad {
  grid-column-start: 1;
  grid-column-end: 4;

}

.card--fullfilment {
  grid-row-start: 4;
  grid-row-end: 6;
}

.card--tires {
  grid-row-start: 4;
  grid-row-end: 6;
}

.card--cafe {}

.card-rekvizit {}

.grid-for-last-row-cards-wrapper {
  grid-column-start: 1;
  grid-column-end: 4;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

.card--shop-office {}

.card--module-promo {}





/*------------------------------------*\
  #FOOTER
\*------------------------------------*/

/* Footer upper */

.footer-upper {
  width: 80%;
  margin: auto;
  margin-bottom: 2.5rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 15%;
}

.footer-upper__contact {
  grid-row-start: 1;
  grid-row-end: 4;
  color: var(--MAIN-COLOR);

  img {
    margin-bottom: 2rem;
  }

  p:first-of-type {
    margin-top: 0.7rem;
  }

  p:last-of-type {
    margin: 0.25rem 0 0.5rem 0;
  }

  .button--white {
    display: block;
    border: 1px solid var(--MAIN-COLOR);
    border-radius: 0.25rem;
    padding: 1rem 2rem;
    margin: 1.5rem 0 0.7rem 0;
    width: 75%;
    color: var(--MAIN-COLOR);
    text-align: center;

  }

  .button--white:last-child {
    margin-bottom: 0;
    margin-top: 0.7rem;
  }
}

.footer-upper__site-map ul {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}

.footer-upper__socialmedia-and-maps {
  display: grid;
  grid-template: repeat(3, 1fr) / repeat(6, 1fr);

  #YaMaps-button {
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 4;
  }

  #TWOgis-button {
    /* grid-row-start: 2; */
    /* grid-row-end: 3; */
    grid-column-start: 4;
    grid-column-end: 7;
  }

  #feedback-link {
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 1;
    grid-column-end: 7;
  }
}

.footer-upper__pay-options {
  display: flex;
  gap: 1rem;
}

.footer-upper__buttons-menu {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 4;
}


/* Footer lower */

.footer-lower {
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: space-between;
}
