/*------------------------------------*\
  #NOTES
\*------------------------------------*/

/* 
15.07.24
CSS nesting is redundant when using with BEM naming. I want to use scope (as defined in computer science). A way
to do it is BEM-like naming. I would like to use indenting to show how classes pack but it's not possible
with my LSP. 
So no nesting unless it's necessary.
*/





/*------------------------------------*\
  #RESET
\*------------------------------------*/

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

img {
  display: block;
}





/*------------------------------------*\
  #VARIABLES
\*------------------------------------*/

:root {
  /* --ACCENT-TEXT: #ae0f0a; */
  --MAIN-COLOR: #ae0f0a;
}





/*------------------------------------*\
  #GENERAL
\*------------------------------------*/

a {
  text-decoration: none;
  color: black;

  &[href*="tel:"] {
    font-size: 1.25rem;
    color: var(--MAIN-COLOR);
    font-weight: bold;
  }

  &[href*="mailto:"] {
    color: var(--MAIN-COLOR);
  }

  &:focus,
  &:hover {
    color: var(--MAIN-COLOR);
    text-decoration: underline;
  }
}

.gray-bgc-full-width {
  background-color: lightgray;
}

.button {
  display: block;
  border: 1px solid black;
  border-radius: 0.25rem;
  padding: 1rem 2rem;
  color: white;
  text-align: center;

  &:hover,
  &:focus {
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, .2);
  }

  &.button--white {
    margin: 1.5rem 0 0.7rem 0;
    border: 1px solid var(--MAIN-COLOR);
    width: 16vw;
    color: var(--MAIN-COLOR);


    &:hover,
    &:focus {
      color: white;
      background-color: var(--MAIN-COLOR);
      text-decoration: none;
    }
  }

  &.button--red {
    border: none;
    width: 16vw;
    background-color: var(--MAIN-COLOR);
    color: white;
    margin-left: 2rem;

    &:hover,
    &:focus {
      background-color: #F22A23;
      text-decoration: none;
    }
  }

  &.button--maps-link {
    border: 1px solid var(--MAIN-COLOR);
    width: 10vw;
    color: var(--MAIN-COLOR);
    display: grid;
    place-items: center;

    &:hover,
    &:focus {
      /* box-shadow: 0 0 10px 5px rgba(255, 0, 0, 0.2); */
      box-shadow: 0 0 10px 5px rgba(174, 15, 10, 0.2);
      /* color: white; */
      /* background-color: #F77F7B; */
      /* border: none; */
      text-decoration: none;
    }
  }
}





/*------------------------------------*\
  #HEADER
\*------------------------------------*/

/* HEADER__UPPER */

.header__upper {
  display: flex;
  align-items: center;
  padding: 1rem 0;
  width: 80%;
  margin: auto;
}

.header__upper--location-info {
  flex-grow: 1;
  display: flex;
  align-items: center;

  img {
    margin-right: 0.5rem;
  }
}

.header__upper--profile-info {
  display: flex;

  img {
    margin: 0 0.5rem;
  }
}

.header__upper--tel {
  margin-left: 1.5rem;
}





/* HEADER__LOWER */

.header__lower {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  width: 80%;
  margin: auto;
}

.header__lower--logo {
  padding: 0 2rem 0 0;
}

.header__lower--nav-ulist-wrapper {
  flex-grow: 1;
}

.header__lower--nav-ulist {
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
  flex-wrap: nowrap;

  li {
    display: inline-block;
    padding: 2.5rem 0;

    &:last-child {
      padding: 2.5rem 0;
    }

    a {
      padding: 2.5rem 1rem;

      &:hover,
      &:focus {
        background-color: var(--MAIN-COLOR);
        color: white;
      }
    }
  }
}





/*------------------------------------*\
  #MAIN
\*------------------------------------*/

.main-top-nav-links {
  margin-bottom: 1.5rem;

  a {
    &:first-child {
      color: gray;

      &:hover,
      &:focus {
        color: var(--MAIN-COLOR);
        text-decoration: underline;
      }
    }

    &:last-child {
      color: var(--MAIN-COLOR);
    }
  }
}

.card-text-style {
  font-size: 1.5rem;
  font-weight: bolder;
  color: white;
  text-shadow: 4px 4px 10px black;
}

.card-text-style+a {
  font-size: 1.25rem;
  font-weight: bold;
  color: white;
  text-shadow: 4px 4px 10px black;
  text-decoration: underline;

  &:hover {
    color: #f32727;
    text-shadow: 2px 2px 4px black;
  }
}

main {
  width: 80%;
  margin: auto;
  margin-bottom: 5rem;
  min-height: 100vh;
}

.main-cards {
  display: grid;
  grid-template-columns: repeat(3, minmax(200px, 1fr));
  grid-template-rows: repeat(6, minmax(200px, 1fr));
  gap: 1rem;
}

.card {
  background-color: black;
  border-radius: 1rem;
  padding: 1rem;
}

.card--sklad {
  background-image: url(../img/img-for-cards/4996240824_882e4e79a8_w.jpg);
  background-size: cover;
  background-position-y: bottom;
}

.card--pereezd {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 3;

  background-image: url(../img/img-for-cards/396\ 400.jpg);
  background-size: cover;
  background-position-y: 35%;
}

.card--sotrudnich {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 3;

  background-image: url(../img/img-for-cards/Jupiter.jpg);
  background-size: cover;
  background-position-y: 40%;
}

.card--responsibility {
  background-image: url(../img/img-for-cards/53755149416_0c72d3845f_w.jpg);
}

.card--mobile-sklad {
  grid-column-start: 1;
  grid-column-end: 4;

  background-color: black;
  background-image: url(../img/img-for-cards/two-galaxies-long.jpg);
  background-position: center 20%;
  background-size: cover;
}

.card--fullfilment {
  grid-row-start: 4;
  grid-row-end: 6;

  background-image: url(../img/img-for-cards/398\ 400.jpg);
  background-size: cover;
  background-position-y: 55%;
}

.card--tires {
  grid-row-start: 4;
  grid-row-end: 6;

  background-image: url(../img/img-for-cards/399\ 347.jpg);
  background-size: cover;
  background-position-y: 55%;
}

.card--cafe {
  background-image: url(../img/img-for-cards/400\ 350.jpg);
  background-size: cover;
  background-position-y: 25%;
}

.card-rekvizit {
  background-image: url(../img/img-for-cards/400\ 360.jpg);
  background-size: cover;
  background-position-y: 25%;
}

.grid-for-last-row-cards-wrapper {
  grid-column-start: 1;
  grid-column-end: 4;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

.card--shop-office {
  background-image: url(../img/img-for-cards/53230009083_7192ac76d5_w.jpg);
  background-size: cover;
  background-position-y: 25%;
}

.card--module-promo {
  background-image: url(../img/img-for-cards/53320910661_b9b66d875c_w.jpg);
  background-size: cover;
  background-position-y: 35%;
}





/*------------------------------------*\
  #FOOTER
\*------------------------------------*/

/* Footer upper */

.footer-upper {
  width: 80%;
  margin: auto;
  margin-bottom: 2.5rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: auto;
}

.footer-upper__contact {
  grid-row-start: 1;
  grid-row-end: 4;
  color: var(--MAIN-COLOR);

  img {
    margin-bottom: 2rem;
  }

  p:first-of-type {
    margin-top: 0.7rem;
  }

  p:last-of-type {
    margin: 0.25rem 0 0.5rem 0;
  }


  .button--white:last-child {
    margin-bottom: 0;
    margin-top: 0.7rem;
  }
}

.footer-upper__site-map ul {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  /* column-gap: 3vw; */
  list-style: none;
  text-wrap: nowrap;

  li {
    padding: 0.5rem 0 0.5rem 2rem;

    a {
      color: var(--MAIN-COLOR);
    }
  }
}

.footer-upper__socialmedia-and-maps {
  display: grid;
  grid-template: repeat(3, 1fr) / repeat(6, 1fr);
  place-items: center;
}

.footer-upper__socialmedia-icons-wrapper {
  grid-column: 1 / 7;
  justify-self: stretch;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-evenly;
}

#YaMaps-button {
  grid-column-start: 1;
  grid-column-end: 4;
}

#TwoGis-button {
  grid-column-start: 4;
  grid-column-end: 7;
}

#feedback-link {
  grid-row-start: 3;
  grid-row-end: 4;
  grid-column-start: 1;
  grid-column-end: 7;
  /* align-self: self-start; */
  /* padding-top: 0.7rem; */
  color: var(--MAIN-COLOR);
}


.footer-upper__pay-options {
  display: flex;
  gap: 1rem;
}

.footer-upper__buttons-menu {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 4;

  display: flex;
  flex-direction: column;
  align-items: flex-end;

  .button--white {
    margin-top: 0.7rem;
  }
}


/* Footer lower */

.footer-lower {
  width: 80%;
  margin: auto;
  display: flex;
  /* place-items: end; */
  justify-content: end;
  white-space: nowrap;

  p:first-of-type {
    flex-grow: 1;
  }

  p {
    margin: 2.5rem 0;
  }

  a {
    margin: 2.5rem 1.5rem;
  }
}
